* {
  box-sizing: border-box;
}

html {
  --background: rgb(25,33,50);
  --foreground: #f1feff;
}

button,
textarea,
body {
  background: var(--background);
  color: var(--foreground);
}

#results-viewer {
  border-radius: 4px;
  border: 1px solid transprent;
}

textarea {
  border-radius: 4px;
  border: 1px solid transparent;
  background: rgba(33, 33, 33, 0.3);
  box-shadow: inset 0px 4px 8px 0px black;
}

textarea:focus {
  outline: none;
}

button {
  padding: 0.5em 1em;
  border: 1px solid var(--foreground);
  font-size: 1.5em;
  cursor: pointer;
}


button:hover,
button:focus {
  background: var(--foreground);
  color: var(--background);
}

#ja-input,
#results-viewer {
  width: 100%;
  min-height: 80vh;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  line-height: 2.5em;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#results-viewer {
  display: none;
}

main {
  max-width: 768px;
  margin: 0 auto;
}

.button-wrapper {
  text-align: right;
}

#change-text {
    display: none;
}